.header {
    background-color: #242526;
    color: #fff;
}
    .header-container {
        height: 60px;
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
        .header-left {
            display: flex;
            align-items: center;
            justify-content: left;
            /* border:solid 2px orangered; */
        }
            .header-left > .header-input {
                background-color: #3A3B3C;
                height: 40px;
                border-radius: 20px;
                display: inline-block;
                float: left;
                margin-left: 5px;
            }
                .header-left > .header-input > .header-input-icon {
                    display: inline-block;
                    float: left;
                    width: 20px;
                    height: 20px;
                    margin: 10px;
                    color: rgb(195, 195, 195);
                }
                .header-left > .header-input > input {
                    display: inline-block;
                    float: left;
                    height: inherit;
                    border-radius: 20px;
                    padding: 5px;
                    overflow: hidden;
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    outline: none;
                    color: #fff;
                    font-size: 17px;
                }
                    .header-left > .header-input > input::placeholder {
                        color: rgb(195, 195, 195);
                    }

            .header-left > a {
                display: inline-block;
                float: left;
                margin-left: 16px;
            }
                .header-left > a > img {
                    height: 40px;
                    width: 40px;
                    background-color: rgb(46, 126, 179);
                    border-radius: 50%;
                }


        .header-middle {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            column-gap: 10px;
        }
            .header-middle > a {
                height: 50px;
                width: 100%;
                margin: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                .header-middle > a:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 6%;
                }

                .header-middle > a > .header-middle-icons {
                    text-align: center;
                }
                    .header-middle .header-middle-icons > i {
                        color: rgb(195, 195, 195);
                        font-size: 25px;
                    }
                .header-middle > a > .header-middle-menu {
                    padding: 0 10px;
                    display: none;
                }
                
            .header-active {
                position: relative;
                pointer-events: none;
            }
                .header-active .header-middle-icons > i {
                    color: #2D88FF;
                }
            
                .header-active .header-middle-icons::before {
                    position: absolute;
                    bottom: -5px;
                    right: 0;
                    left: 0;
                    content: "";
                    background-color: #2D88FF;
                    height: 4px;
                    opacity: 1;
                }

        .header-right {
            /* border:solid 2px olivedrab; */
            /* display: grid;
            grid-template-columns: repeat(4, 1fr); */
            display: flex;
            justify-content: flex-end;
        }
            .header-right > .header-profile {
                /* width: 100%; */
                min-width: 100px;
                height: 40px;
                /* display: flex;
                align-items: center;
                justify-content: center; */
                margin: 10px 0;
            }
            .header-right > .header-profile:hover {
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 20px;
            }
                .header-right > .header-profile > img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-left: 5px;
                }
                .header-right > .header-profile > .header-profile-name {
                    padding: 5px 10px;
                    text-decoration: none;
                    color: #fff;
                    font-weight: 600;
                }


            .header-right > a {
                text-decoration: none;
                height: 50px;
                width: 40px;
                margin: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                .header-right > a > .header-right-icons {
                    background-color: rgba(255, 255, 255, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                .header-right > a > .header-right-icons:hover {
                    background-color: #4e4f50;
                }
                    .header-right .header-right-icons > i {
                        color: #fff;
                        font-size: 15px;
                    }




@media (max-width: 1260px) {
    .header-left > .header-input > input {
        display: none;
    }
    .header-right .header-profile {
        display: none;
    }

}

@media (max-width: 700px) {
    .header-middle .icon {
        display: none;
    }
}

@media (max-width: 700px) {
    .header-middle > a > .header-middle-menu {
        display: block;
        align-items: left;
        justify-content: left;
    }
}
@media (max-width:1100px) {
    .header-middle > a >.icon {
        display: none;
    }
    .header-middle > a > .header-middle-menu {
        display: block;
    }
}