body {
    background-color: #18191A;
    display: grid; 
    grid-template-columns: minmax(280px, 360px) 1fr minmax(280px, 360px);
    grid-template-areas:
    "head head head"
    "menu content messenger"
}
.header{
    height: 60px;
    grid-area: head;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.menu{
    grid-area: menu;
}
.messenger{
    /* margin-top: 60px; */
    padding: 10px;
    grid-area: messenger;
}

img {
    width: 300px;
}

.feed {
    grid-area: content;
    display: grid;
    grid-template-columns: minmax(500px, 680px);
    gap: 40px 20px;
    padding: 80px 20px;
}

/* visible feed and messenger */
@media (max-width: 1100px) {
    body {
        grid-template-columns: 1fr minmax(280px, 360px);
        grid-template-areas:
        "head head"
        "content messenger"
    }
    .menu{
        display: none;
    }
}

/* Visible only feed  */
@media (max-width: 900px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
        "head"
        "content" 
    }
    .messenger{
        display: none;
    }
}